* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    background-image: url('/assets/images/bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

section {
    min-height: 100vh;
    padding: 2.5rem;
}

/* ===========typing text =================*/
.typing-txt {
    color: #fff;
    padding-top: 420px;
    margin-left: 30px;
    /* display: flex; */
    /* align-items: left;
    justify-content: left; */
}

.typing-txt {
    font-size: 18px;
    /* font-weight: 600; */
}

.container span {
    color: #fff724;
}

/* ===========hire me button =================*/
.hireMe {
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
    background: #2B2A26;
    border: 2px solid #FCC419;
    border-radius: 30px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    /* top: 550px; */
    /* position: absolute; */
}

.container button:hover {
    background: #FCC419;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);


}

/* ===========icon menu =================*/
.icon-menu {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    position: absolute;
    width: 60px;
    left: 1200px;
    top: 360px;
    /* background:red ; */
    /* overflow: auto;    */
    /*to controal foloat*/
    /* height: 3px; */
}

.icon-menu ul {
    list-style-type: none;
}

.icon-menu ul a {
    color: black;
    width: 100%;
    padding: 10px 10px;
    transition: 0.2s;
    font-size: 30px;
    border-radius: 100%;
}

.icon-menu ul a:hover {
    /* background:yellow; */
    color: #BA8B02;
   }

/* ===========Navigation menu =================*/
.nav {
    background: linear-gradient(180deg, #000000 0%, rgba(77, 77, 77, 0.697856) 99.97%, rgba(255, 255, 255, 0) 99.98%, rgba(255, 255, 255, 0.03125) 99.99%);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: top 0.3s;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    display: block;
    transition: all linear 0.5s;
}
a:hover {
    color: #FCC419;
}
.active{
  background-color: #FCC419;
  
}

.nav .hamber a {
    float: left;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    color: #FCC419;
}
/* end navigation */

.wall {
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #000000;
}

/* ================================skills and tools=================================== */

.skillsTools .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.skillsTools .box-container .box {
    position: relative;
}

.skillsTools .box-container .box span {
    font-size: 1.5rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.skillsTools .box-container .box h3 {
    font-size: 1.1rem;
    color: #fff;
    padding-top: 1.5rem;
}

.skillsTools .box-container .box h3:hover {
    transform: scale(1.1);
}

.skillsTools .box-container .box i {
    position: absolute;
    top: -0.5rem;
    left: -1.7rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    color: black;
    background: #fff724;
}

.skillsTools .box-container .box {
    margin: 2rem 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 0.2rem solid #fff;
    position: relative;
    border-style: dotted;

}

.skillsTools .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skillsTools .img-container .logo {
    border-radius: 1rem;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.skillsTools .img-container .logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skillsTools .img-container .logo:hover img {
    transform: scale(1.2);
}


/* ================================My Projects=================================== */

.myProject .row {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 1rem; */
}

.myProject .col {
    flex-direction: column;
    text-align: center;
    color: #000000;
    padding: 1rem;
}

.myProject .col .counter-box {
    background-color: black;
    padding: 5px 100px;
    border-radius: 1rem;
    border: 0.1rem solid#4D4848;
    /* box-shadow: 0 0 20px -6px #FCC419; */
}

.myProject .col .counter-box i {
    color: #FCC419;
    font-size: 50px;
    margin-top: 5px;
}

.myProject .col .counter-box h2 {
    color: white;
    font-size: 30px;
    margin-top: 5px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 300;
    text-shadow: 0 0 20px -6px #FCC419;
}

/* start project list  */
.myProject .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-top: 7rem; */
}

.myProject .box-container .box {
    height: 15rem;
    width: 10.7rem;
    margin: 2rem;
    cursor: pointer;
    position: relative;
    /* padding-top: 2rem; */
}

.myProject .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #4D4848;
    border-radius: 10px;
    border: 0.2rem solid#4D4848;
}

.myProject .box-container .box:hover {
    transform: scale(1.1);
}

.myProject .box-container .projectName h5 {
    font-size: 18px;
    color: white;
    font-weight: 10;
    margin: 10px 0 15px 0;
    font-family: 'Inter';
    font-style: normal;
}

/* click-Here */
.myProject .click-Here h5 {
    color: #fff;

}

.myProject .click-Here {
    padding-left: 48%;
    padding-top: 2.5rem;
}

.myProject .click-Here img:hover {
    transform: scale(1.1);
}

/* ============ About Me ============== */

.aboutMe .row-about {
    box-sizing: border-box;
    margin-top: 2rem;
    color: #fff;
    font-family: initial;
    font-style: normal;
    position: relative;
    display: flex;
    flex-direction: row;
}

.aboutMe .row-about .col-about {
    border: 2px solid #4D4848;
    width: 30%;
    height: 30rem;
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 30px;
}

.aboutMe .row-about .col-about h2 {
    text-align: center;
    padding: 2rem;
}

.aboutMe .row-about .col-about p {
    padding: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
}

.aboutMe .downloard-CV {
    background: #2B2A26;
    border: 1px solid #FCC419;
    border-radius: 30px;
    position: absolute;
    width: 230px;
    height: 50px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 10px;

}

.aboutMe .cv {
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.aboutMe .downloard-CV i {
    color: #FCC419;
}

.aboutMe .downloard-CV:hover {
    background-color: #524725;
}

/* personal info */
.col-about li {
    list-style: none;
}

.col-about .info i {
    color: #FCC419;
    font-size: 30px;
    margin: 15px;
}

.col-about .info a {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
}

.col-about .info a:hover {
    color: #FCC419;
}

.col-about .info li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
}

.col-about .interest i {
    color: #FCC419;
    font-size: 30px;
    margin: 20px;
}

.col-about .interest h5 {
    font-size: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

/* my expertist */
.col-about img {
    width: 2.5rem;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
}

.col-about li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
}

.col-about .ic li:hover {
    transform: scale(1.1);
}

/* ============== gallery =============== */
.mygallery{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;   
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
   grid-gap:20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 100%;

}
.gallery div img:hover{
  transform: scale(1.5);
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#back-btn,#forward-btn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

/* ============== services =============== */

.myservices .rowService {
    box-sizing: border-box;
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.myservices .rowService .colService {
    border: 2px solid #4D4848;
    width: 30%;
    height: 20rem;
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 30px;
    margin-top: 3rem;
}

.myservices .rowService .colService img {
    width: 100px;
    height: 100px;
    margin-left: 7rem;
    margin-top: 4rem;
}

.myservices .rowService .colService img:hover {
    transform: scale(1.1);
}

.myservices .rowService .colService h3 {
    margin-top: 1rem;
    text-align: center;

}

.myservices .rowService .colService .more-details {
    background: #101010;
    border: 1.5px solid #4D4848;
    border-radius: 30px;
    color: #fff;
    margin-left: 7rem;
    margin-top: 1rem;
    width: 100px;
    height: 30px;

}

.myservices .rowService .colService .more-details:hover {
    background-color: #524725;
}


/* ============== contact info =============== */

.contactInfo .rowContact {
    display: flex;
    flex-direction: row;
    position: relative;
    /* margin-top: 3rem; */
    color: #fff;
    /* margin-bottom: 10rem; */
    /* background-color: red; */
}

.contactInfo .rowContact .colInfo {
    width: 30rem;
    /* background-color:gray; */
    margin-left: 4rem;
    /* margin-bottom: 10rem; */
}

.contactInfo .topic h2 {
    padding-top: 20px;
    color: white;
    margin-bottom: 1rem;
}

.contactInfo .rowContact .colInfo i {
    color: #FCC419;
    font-size: 40px;
    padding-top: 2rem;
    margin-left: 4rem;
}

.contactInfo .rowContact .colInfo li {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.contactInfo .rowContact .colInfo a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding-right: 2rem;
}



.colInfo form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.colInfo form .box {
    padding: 0.5rem;
    margin: 0;
    background: #262323;
    color: rgb(241, 235, 235);
    text-transform: none;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.colInfo form .box::placeholder {
    text-transform: capitalize;
}

.colInfo form .message {
    height: 5rem;
    resize: none;
}

.colInfo form .message::-webkit-scrollbar {
    display: none;
}

.colInfo form .btn {
    /* border: 2px solid rgb(109, 104, 104); */
    border: none;
    background-color: #262323;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    color: rgb(186, 183, 183);
    margin-left: 5px;
    padding-bottom: 15px;
    position: absolute;
    font-weight: 200;

}

.colInfo form .btn img {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin-left: 6px;
}

.colInfo form .btn:hover {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    border: 1.5px solid #FCC419;
    color: #F1C40F;
}



/* =============footer============= */
footer {
    /* background: linear-gradient(180deg, #000000 0%, rgba(77, 77, 77, 0.697856) 99.97%, rgba(255, 255, 255, 0) 99.98%, rgba(255, 255, 255, 0.03125) 99.99%);
     */
    /* background: #000000; 
background: -webkit-linear-gradient(to right, #434343, #000000);  
background: linear-gradient(to right, #434343, #000000);  */

background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    height:50px;
    position: relative;
    bottom: 0;
    margin: auto;
}

.social-icon-menu-footer {
    width: 100px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 11px;
    position: relative;
    width: 60px;
    padding-top: 50px;
    margin-top: -3.1rem;
    margin-left: 30px;
}

.social-icon-menu-footer ul {
    list-style: none;
}

.social-icon-menu-footer ul a {
    color: #fff;
    width: 100%;
    padding: 10px 10px;
    font-size: 30px;
    transition: 0.2s;

}

.social-icon-menu-footer a:hover {
    color: #B3B6B7;
}

footer>h5 {
   text-align: center;
    color: rgb(228, 222, 222);
    padding-bottom: 10px;
}