* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('/assets/images/bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* ================================== */
/* body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
} */

section {
    min-height: 100vh;
    padding: 2.5rem;
}

/* ============================= */

.typing-txt {
    /* width: 100%;
    height: 100vh; */
    /* background: #2b323c; */
    color: #fff;
    /* display: flex; */
    /* align-items: left;
    justify-content: left; */
    padding-top: 445px;
    margin-left: 30px;

    /* ===========typing text =================*/
}

.typing-txt {
    font-size: 18px;
    /* font-weight: 600; */
}

.container span {
    color: #fff724;
}

/* ===========hire me button =================*/
.hireMe {
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    background: #2B2A26;
    border: 2px solid #FCC419;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    /* top: 550px; */
    /* position: absolute; */
}

.container button:hover {
    background: #FCC419;

}

/* ===========icon menu =================*/
.icon-menu {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    position: absolute;
    width: 60px;
    left: 1200px;
    top: 360px;
    /* background:red ; */
    /* overflow: auto;    */
    /*to controal foloat*/
    /* height: 3px; */
}

.icon-menu ul {
    list-style-type: none;
}

.icon-menu ul a {
    color: black;
    width: 100%;
    padding: 10px 10px;
    transition: 0.2s;
    font-size: 30px;
    border-radius: 50px;
    /* text-align: center; */
}

.icon-menu ul a:hover {
    background: whitesmoke;
}

/* ===========Navigation menu =================*/
.nav {
    /* background-color:#2B2A26; */
    background: linear-gradient(180deg, #000000 0%, rgba(77, 77, 77, 0.697856) 99.97%, rgba(255, 255, 255, 0) 99.98%, rgba(255, 255, 255, 0.03125) 99.99%);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter';
    font-style: normal;
    display: block;
}

.nav a:hover {
    color: #FCC419;
}

.nav a.active {
    color: #FCC419;
    /* background-color: #FCC419; */
    /* border-radius: 10px; */
}

.nav .hamber {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: inherit;
}


.wall {
    /* background-image: url('/assets/images/background.jpg'); */
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #000000;
}

/* ================================skills and tools=================================== */

.skillsTools .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.skillsTools .box-container .box {
    position: relative;
    /* width:27rem; */
    /* margin:4rem 1rem; */
    /* padding-left: 4rem; */
    /* border-left: .2rem solid #fff; */

}

.skillsTools .box-container .box span {
    font-size: 1.5rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.skillsTools .box-container .box h3 {
    font-size: 1rem;
    color: #fff;
    padding-top: 1.5rem;
}

.skillsTools .box-container .box i {
    position: absolute;
    top: -0.5rem;
    left: -1.7rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    color: black;
    background: #fff724;
}

.skillsTools .box-container .box {
    margin: 2rem 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 0.2rem solid #fff;
    position: relative;
    border-style: dotted;

}

.skillsTools .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 2rem 0; */
}

.skillsTools .img-container .logo {
    border-radius: 1rem;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.skillsTools .img-container .logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skillsTools .img-container .logo:hover img {
    transform: scale(1.2);
}


/* ================================My Projects=================================== */

.myProject .row {
    display: flex;
    position: absolute;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    padding-left: 75rem;
    /* align-items: center;
    justify-content: center; */
}

.myProject .col {
    flex-direction: column;
    text-align: center;
    color: #000000;
    padding: 2px;
}

.myProject .col .counter-box {
    background-color: black;
    padding: 20px 70px;
    border-radius: 1rem;
    border: 1px solid #FCC419;
    border-radius: 20px;
    /* box-shadow: 0 0 20px -6px #FCC419; */
}

.myProject .col .counter-box i {
    color: #FCC419;
    font-size: 2rem
}

.myProject .col .counter-box h2 {
    color: white;
    font-size: 26px;
    padding-top: 10px;
}

/* start project list  */
.myProject .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 7rem;
}

.myProject .box-container .box {
    height: 13rem;
    width: 10rem;
    margin: 2rem;
    cursor: pointer;
    position: relative;
    padding-top: 2rem;
}

.myProject .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 1rem; */
    border: 2px solid #FCC419;
    border-radius: 20px;
}

.myProject .box-container .box:hover {
    transform: scale(1.2);
}

.myProject .box-container .projectName h5 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 10px 0 15px 0;
}

/* click-Here */
.myProject .click-Here h5 {
    color: #fff;
    font-family: initial;
}

.myProject .click-Here {
    padding-left: 50%;
    padding-top: 3rem;
}

.myProject .click-Here img:hover {
    transform: scale(1.2);
}

/* ============ About Me ============== */

.aboutMe .row-about {
    box-sizing: border-box;
    margin-top: 2rem;
    color: #fff;
    font-family: initial;
    font-style: normal;
    position: relative;
    display: flex;
    flex-direction: row;
}

.aboutMe .row-about .col-about {
    border: 2px solid #4D4848;
    width: 30%;
    height: 30rem;
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 30px;
}

.aboutMe .row-about .col-about h2 {
    text-align: center;
    padding: 2rem;
}

.aboutMe .row-about .col-about p {
    padding: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
}

.aboutMe .downloard-CV {
    background: #2B2A26;
    border: 1px solid #FCC419;
    border-radius: 30px;
    position: absolute;
    width: 230px;
    height: 50px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 10px;

}

.aboutMe .cv {
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.aboutMe .downloard-CV i {
    color: #FCC419;
}

.aboutMe .downloard-CV:hover {
    background-color: #524725;
}

/* personal info */
.col-about li {
    list-style: none;
}

.col-about .info i {
    color: #FCC419;
    font-size: 30px;
    margin: 15px;
}

.col-about .info a {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
}

.col-about .info a:hover {
    color: #FCC419;
}

.col-about .info li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
}

.col-about .interest i {
    color: #FCC419;
    font-size: 30px;
    margin: 20px;
}

.col-about .interest h5 {
    font-size: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

/* my expertist */
.col-about img {
    width: 2.5rem;
    height: auto;
    margin-left: 15px;
    margin-top: 10px;
}

.col-about li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
}
.col-about .ic li:hover{
    transform: scale(1.1);
}