*{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
section {
    height: auto;
    width: 100%;
    overflow-x: hidden;
  }
  .col img:hover {
    transform: scale(1.2);
  }
  .nav-link{
    font-weight: 600;
  }
  .nav-link:hover{
    color: crimson;
  }
  /* .container {
    padding-top: 120px;
 
 
  }
 
  .col {
    height: 280px;
    width: 200px;
    background-color: whitesmoke;
    margin: 50px;
    border-radius: 30px;
  }
 
  .col img {
    margin: 30px;
    height: 120px;
    width: 120px;
  }
 
  .col img:hover {
    transform: scale(1.2);
  } */
 
  /* customer form */
  /* .col-10 {
 
    margin: 55px;
  } */